.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 1300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #ED4E53;
    color: #ffffff;
    text-align: left;
    
}

.main-order h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-bottom: -10px;
}

.styled-table thead tr .order-id{
     width: 290px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ED4E53;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.o-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.last{
    border-bottom: none  !important;
}