.status{
    background-color:whitesmoke;
    height: calc(100vh - 80px);
    
}

.status_heading{
    display: flex;
    justify-content: center;
    align-items: center;   
    justify-content: space-around;
}

.status_heading h2{
    font-size:x-large;
    font-weight: bold;
}



.status_id{
    color: rgb(4, 119, 4);
    background: white;
    height: 25px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.status_box{
    padding: 60px 0 0;
    
}


.status_row{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .status_desc{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.status_desc ul{
    margin-right: 630px;
    margin-top: 40px;
}

.status_desc li{
    margin-bottom: 65px;
    
    font-size: large;
    
}

.status_box ul li span{
    padding-left: 5px;
} */






/* yo */

.status_box ul {
    margin-left: 250px;
    margin-top: 50px;
  }

  .status_box ul li{
      margin-bottom: 65px;
      font-size: large;
  }

.status_box ul li span {
    position: relative;
    padding-left: 20px;
  }
  
  .status_box ul li span:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    background: #232323;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px #F8F8F8;
  }


  .status_box ul li span:before {
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
  }


  .status_box ul li:nth-child(1) span:before {
    content: "\F46C";
  }

  .status_box ul li:nth-child(2) span:before {
    content: "\F560";
  }
  
  .status_box ul li:nth-child(3) span:before {
    content: "\F818";
  }
  
  .status_box ul li:nth-child(4) span:before {
    content: "\F0D1";
  }
  
  .status_box ul li:nth-child(5) span:before {
    content: "\F582";
  }


  .status_box ul li {
    position: relative;
  }
  
  .status_box ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 79px;
    background: #232323;
    margin-top: 10px;
  }

  .status_box ul li:nth-child(5) span:after {
    box-shadow: 0 37px 1px 37px #F8F8F8;
  }


  
.status_box ul li.step-completed:before {
    background: #ccc;
  }
  
  .status_box ul li.step-completed span:after {
    background: #ccc;
  }
  
  .status_box ul li.step-completed span {
    color: #ccc;
  }

  .status_box ul li.current span {
    color: #FE5F1E;
  }
  
  .status_box ul li.current span:after {
    background: #FE5F1E;
  }
  
.small-tag{
  float:right;
  
}

.status_box ul li small{
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
 background: rgba(128, 128, 128, 0.521);
 border-radius: 10px ;
 font-weight: 600;
 width: 75px;
  margin-right: 300px;
  margin-top: 5px;
  
}

























  /* Media query */

  @media (max-width: 1060px) {
    .container {
      max-width: 90%;
    }
  
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  
  @media (max-width: 768px) {
    .status_box ul li span:before {
      font-size: 34px;
    }
  }
