*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-collapse{
    margin-left: 450px;
}

.links{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin-left: 250px;
}



.links a{
    color: black;
    font-weight: 600;
}

.navbar-brand{
    margin-left: 70px;
    color: black
    
}

.navbar-brand strong{
    font-size: 30px;
}



.navbar-brand img{
    width: 60px;
    height: 43px;
}

.nav-link .fas{
    font-size: 18px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
    width: 70px;
    height: 30px;
    border-radius: 40px;
    background-color: #ED4E53;
}

.navbar-brand{
 display: flex;
 justify-content: center;
 align-items: center;    
}

.nav-link{
    text-decoration: none;
    outline: none;
    border-bottom: none;
}

